# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/go-auth

# Test binary
*.test

# Output of go coverage
*.out

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Dependencies
vendor/
